<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>TeamTokenBar</string>
    <key>CFBundleDisplayName</key><string>TeamTokenBar</string>
    <key>CFBundleIdentifier</key><string>com.steipete.codexbar</string>
    <key>CFBundleExecutable</key><string>CodexBar</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.18.0-beta.2</string>
    <key>CFBundleVersion</key><string>50</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LSUIElement</key><true/>
    <key>CFBundleIconFile</key><string>Icon</string>
    <key>NSHumanReadableCopyright</key><string>© 2025 Peter Steinberger. MIT License.</string>
    <key>SUFeedURL</key><string>https://raw.githubusercontent.com/steipete/CodexBar/main/appcast.xml</string>
    <key>SUPublicEDKey</key><string>fAPjMTJlfaKfmNXeaJ6adhx5BTsde3CTHZZwSif1yjI=</string>
    <key>SUEnableAutomaticChecks</key><true/>
    <key>CodexBuildTimestamp</key><string>2026-02-20T14:38:08Z</string>
    <key>CodexGitCommit</key><string>b38e4da</string>
</dict>
</plist>
